<template>
  <button
    @click="onclick()"
    class="
      px-4
      py-2
      rounded-md
      text-sm
      font-medium
      border
      focus:outline-none focus:ring
      transition
      text-gray-600
      border-gray-600
      hover:text-white hover:bg-gray-600
      active:bg-gray-700
      focus:ring-gray-300
    "
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  props: ["text"],
  methods: {
    onclick() {
      this.$emit("run-script");
    },
  },
};
</script>

<style></style>
