<template>
  <div>
    <select
      class="
        block
        w-52
        text-gray-700
        py-2
        px-3
        w-full
        border border-gray-300
        bg-white
        rounded-md
        shadow-sm
        focus:outline-none focus:ring-primary-500 focus:border-primary-500
      "
      @change="onChange($event)"
    >
      <option disabled selected value="">Select an option</option>
      <option v-for="(item, key) in dropDownItems" :key="key" :value="key">
        {{ item }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  props: {
    dropDownItems: Object,
  },
  methods: {
    onChange: function (e) {
      var id = e.target.value;
      this.$emit("HandleChange", id);
    },
  },
};
</script>

<style></style>
