<template>
  <div
    class="
      bg-gray-100
      mx-auto
      border-gray-500 border
      rounded-sm
      text-gray-700
      mb-0.5
      h-30
    "
  >
    <div class="flex p-3 border-l-8 border-yellow-600">
      <div class="space-y-1 border-r-2 pr-3">
        <div class="text-sm leading-5 font-semibold">
          <a :href="issue.web_url" target="_blank">
            {{ issue.references.relative }}
          </a>
        </div>
        <div v-if="issue.weight" class="text-sm leading-5 font-semibold">
          <span class="text-xs leading-4 font-normal text-gray-500 pr">
            WEIGHT #</span
          >
          {{ issue.weight }}
        </div>
        <div class="text-sm leading-5 font-semibold">
          <span class="text-xs leading-4 font-normal text-gray-500 pr">
            Created@</span
          >
          {{ $moment(issue.created_at).format("LLL") }}
        </div>
        <div class="text-sm leading-5 font-semibold">
          <span class="text-xs leading-4 font-normal text-gray-500 pr">
            Updated</span
          >
          {{ $moment(issue.updated_at).fromNow() }}
        </div>
      </div>
      <div class="flex-1">
        <div class="ml-3 space-y-1 pr-3">
          <div class="text-base leading-6 font-semibold">
            {{ issue.title }}
          </div>
          <div v-if="issue.milestone" class="text-sm leading-4 font-normal">
            <span class="text-xs leading-4 font-normal text-gray-500">
              Milestone</span
            >
            <a
              :href="issue.milestone.web_url"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ issue.milestone.title }}
            </a>
          </div>
          <div v-if="issue.epic" class="text-sm leading-4 font-normal">
            <span class="text-xs leading-4 font-normal text-gray-500">
              Epic</span
            >
            <a
              :href="getUrl(issue.epic.url)"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ issue.epic.title }}
            </a>
          </div>
          <span
            v-if="issue.has_tasks"
            class="text-xs leading-4 font-normal text-gray-500"
          >
            {{ issue.task_status }}</span
          >

          <div class="flex items-center text-sm leading-4 font-normal">
            <span class="text-xs leading-4 font-normal text-gray-500">
              Author</span
            >
            <div class="flex border-r-2 items-center">
              <div class="mr-2 pl-2">
                <a :href="issue.author.web_url" :title="issue.author.username">
                  <img
                    class="w-6 h-6 rounded-full"
                    :src="issue.author.avatar_url"
                  />
                </a>
              </div>
            </div>
            <span class="text-xs pl-2 leading-4 font-normal text-gray-500">
              Assignees</span
            >

            <div class="flex items-center pl-2 justify-left">
              <a
                v-for="assignee in issue.assignees"
                :key="assignee.username"
                :href="assignee.web_url"
                :title="assignee.username"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="
                    w-6
                    h-6
                    rounded-full
                    border-gray-200 border
                    transform
                    hover:scale-125
                  "
                  :src="assignee.avatar_url"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <div v-for="label in issue.labels" :key="label">
          <Label :label="label" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Label from "./Label.vue";
export default {
  components: { Label },
  props: {
    issue: {},
  },
  methods: {
    getUrl(endpoint) {
      return `https://gitlab.com${endpoint}`;
    },
  },
};
</script>

<style>
</style>