<template>
  <a
    :style="{ color: badge.text_color, backgroundColor: badge.color }"
    href="#"
    class="
      inline-block
      rounded-full
      duration-300
      text-xs
      font-bold
      mr-1
      md:mr-2
      mb-2
      px-2
      md:px-4
      py-1
      opacity-90
      hover:opacity-100
    "
  >
    {{ badge.name }}
  </a>
</template>

<script>
const Gitlab_API = `https://gitlab.com/api/v4/groups/10617165/`;
const gitlab_token = process.env.GITLAB_PRIVATE_KEY;
export default {
  data() {
    return {
      badge: [],
    };
  },
  props: {
    label: String,
  },
  created() {
    this.getlabels();
  },
  methods: {
    async getlabels() {
      const badge_res = await this.$axios.get(
        `${Gitlab_API}labels?search=${this.label}`,
        {
          headers: {
            "PRIVATE-TOKEN": gitlab_token,
          },
        }
      );

      this.badge = badge_res.data[0];
    },
  },
};
</script>

<style>
</style>