<template>
  <div class="min-h-screen md:flex">
    <!-- mobile menu bar -->
    <div class="bg-gray-900 text-white flex justify-between md:hidden">
      <!-- logo -->
      <nuxt-link to="/" class="block p-4 text-white font-bold"
        >Grey Software - Automation</nuxt-link
      >

      <!-- mobile menu button -->
      <button
        class="mobile-menu-button p-4 focus:outline-none focus:bg-gray-700"
      >
        <svg
          class="h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>

    <!-- sidebar -->
    <div
      class="
        sidebar
        bg-gray-900
        text-blue-100
        w-64
        space-y-6
        py-7
        px-2
        absolute
        inset-y-0
        left-0
        transform
        -translate-x-full
        md:relative md:translate-x-0
        transition
        duration-200
        ease-in-out
      "
    >
      <!-- logo -->
      <nuxt-link to="/" class="text-white flex items-center space-x-2 px-4">
        <img class="w-8 h-8" src="icon-dark.png" />
        <span class="text-xl font-extrabold">Automation</span>
      </nuxt-link>

      <!-- nav -->
      <nav>
        <nuxt-link
          v-for="script in scripts"
          :key="script"
          :to="script"
          class="
            block
            uppercase
            py-2.5
            px-4
            rounded
            transition
            duration-200
            hover:bg-gray-800 hover:text-white
          "
          >{{ script }}</nuxt-link
        >
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scripts: ["spacing-config", "sponsors", "analytics"],
    };
  },
  mounted() {
    const btn = document.querySelector(".mobile-menu-button");
    const sidebar = document.querySelector(".sidebar");
    btn.addEventListener("click", () => {
      sidebar.classList.toggle("-translate-x-full");
    });
  },
};
</script>

<style></style>
