<template>
  <section class="py-1 bg-blueGray-50">
    <div class="w-full mb-12 xl:mb-0 px-4 mx-auto mt-12">
      <div
        class="
          relative
          flex flex-col
          min-w-0
          break-words
          bg-white
          w-full
          mb-6
          shadow-lg
          rounded
        "
      >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3 class="font-semibold text-base text-blueGray-700">
                {{ table.heading }}
              </h3>
            </div>
          </div>
        </div>

        <div class="block w-full overflow-x-auto">
          <table class="items-center bg-transparent w-full border-collapse">
            <thead>
              <tr>
                <th
                  v-for="th in table.th"
                  :key="th"
                  class="
                    px-6
                    bg-blueGray-50
                    text-blueGray-500
                    align-middle
                    border border-solid border-blueGray-100
                    py-3
                    text-xs
                    uppercase
                    border-l-0 border-r-0
                    whitespace-nowrap
                    font-semibold
                    text-left
                  "
                >
                  {{ th }}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(key, items) in data" :key="items">
                <th
                  class="
                    border-t-0
                    px-6
                    align-middle
                    border-l-0 border-r-0
                    text-xs
                    whitespace-nowrap
                    p-4
                    text-left text-blueGray-700
                  "
                >
                  {{ items }}
                </th>
                <td
                  v-for="(key, items) in key"
                  :key="items"
                  class="
                    border-t-0
                    px-6
                    align-middle
                    border-l-0 border-r-0
                    text-xs
                    whitespace-nowrap
                    p-4
                  "
                >
                  {{ key }}
                </td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    table: Object,
    data: Array,
  },
};
</script>

<style>
</style>