<template>
  <!-- component -->
  <div class="h-screen relative">
    <div class="relative">
      <div
        class="
          h-[3rem]
          flex
          justify-end
          mx-4
          p-0.5
          outline-none
          border-t border-l border-r border-gray-300
          rounded-b-md
          focus:ring-1 focus:ring-gray-400
        "
      >
        <div class="flex items-center">
          <Button text="Copy to Clipboard" @run-script="copy" />
          <Button text="Save File" @run-script="save" />
        </div>
      </div>
      <div
        class="
          h-[7rem]
          mx-4
          p-2
          outline-none
          border border-gray-300
          rounded-t-md
          focus:border-gray-400
          overflow-hidden overflow-y-auto
        "
        contenteditable
        id="editor"
      >
        <pre>
    {{ data }}
</pre
        >
      </div>
    </div>
  </div>
</template>

<script>
import Button from "./Button.vue";
import { fileSave } from "../node_modules/browser-fs-access/dist/index.js";

export default {
  components: { Button },
  props: {
    data: String,
    filetype: String,
  },
  methods: {
    copy() {
      this.$copyText(this.data);
      this.$toast.success("Copied to Clipboard", { duration: 1000 });
    },

    async save() {
      var blob = new Blob([this.data], { type: "text/plain" });
      await fileSave(blob, {
        fileName: `spacing.${this.filetype}`,
        extensions: [`.${this.filetype}`],
      });
    },
  },
};
</script>

<style></style>
