<template>
  <div>
    <div
      class="
        bg-white
        rounded-lg
        shadow
        sm:max-w-md
        sm:w-full
        sm:mx-auto
        sm:overflow-hidden
      "
    >
      <div class="px-4 py-8 sm:px-10">
        <div class="relative mt-6">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
        </div>
        <form @submit="updateRepo" @UpdateFile="getDataToUpdate">
          <div class="mt-6">
            <div class="w-full space-y-6">
              <div class="w-full">
                <div class="relative">
                  <select
                    class="
                      block
                      w-52
                      text-gray-700
                      py-2
                      px-3
                      w-full
                      border border-gray-300
                      bg-white
                      rounded-md
                      shadow-sm
                      focus:outline-none
                      focus:ring-primary-500
                      focus:border-primary-500
                    "
                    v-model="repoList"
                    multiple
                  >
                    <option disabled selected value="">Select an option</option>
                    <option
                      v-for="(item, key) in dropdownItems"
                      :key="key"
                      :value="key"
                    >
                      {{ item }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="w-full">
                <div class="relative">
                  <input
                    type="text"
                    id="remoteFilePath"
                    class="
                      rounded-lg
                      border-transparent
                      flex-1
                      appearance-none
                      border border-gray-300
                      w-full
                      py-2
                      px-4
                      bg-white
                      text-gray-700
                      placeholder-gray-400
                      shadow-sm
                      text-base
                      focus:outline-none
                      focus:ring-2 focus:ring-purple-600
                      focus:border-transparent
                    "
                    v-model="remoteFilePath"
                    placeholder="Relative Remote File Path"
                  />
                </div>
              </div>
              <div class="w-full">
                <div class="relative">
                  <input
                    type="text"
                    id="commit"
                    class="
                      rounded-lg
                      border-transparent
                      flex-1
                      appearance-none
                      border border-gray-300
                      w-full
                      py-2
                      px-4
                      bg-white
                      text-gray-700
                      placeholder-gray-400
                      shadow-sm
                      text-base
                      focus:outline-none
                      focus:ring-2 focus:ring-purple-600
                      focus:border-transparent
                    "
                    v-model="commit"
                    placeholder="Commit Message"
                  />
                </div>
              </div>
              <div>
                <span class="block w-full rounded-md shadow-sm">
                  <button type="submit">Submit</button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dropdownItems: Object,
      dataToUpdate: Object,
      isMultiple: true,
      repoList: [],
      remoteFilePath: "",
      commit: "",
    };
  },

  created() {
    this.getGroupRepo();
  },

  methods: {
    async getGroupRepo() {
      const response = await this.$axios.get(
        "https://gitlab.com/api/v4/groups/10617165/projects"
      );
      const repos = response.data;
      const RepoList = {};
      repos.forEach(function (repo) {
        RepoList[repo.web_url] = repo.name;
      });
      this.dropdownItems = RepoList;
    },

    getRepoList(repo) {
      this.repoList = repo;
    },

    getDataToUpdate(data) {
      console.log(data);
      this.dataToUpdate = data;
    },

    async updateRepo(e) {
      e.preventDefault();

      const reqData = {
        remotePath: this.remoteFilePath,
        repoUrl: this.repoList,
        commit: this.commit,
      };

      this.$emit("UpdateRepo", reqData);
    },
  },
};
</script>

<style>
</style>