<template>
  <div class="flex-1 p-10">
    <div class="flex pl-10">
      <DropDown @HandleChange="getAnalytics" :dropDownItems="dropDownItems" />
      <Button
        class="mb-5"
        @run-script="copy"
        text="Copy to Clipboard"
        v-show="toggleComponents"
      />
      <Button
        class="mb-5"
        @run-script="save"
        text="Save to File"
        v-show="toggleComponents"
      />
    </div>
    <Table v-show="toggleComponents" :table="table" :data="analytics" />
  </div>
</template>

<script>
import DropDown from "../components/DropDown.vue";
import aggregateAnalytics from "../scripts/analytics/aggregate-analytics";
import { fileSave } from "../node_modules/browser-fs-access/dist/index.js";
const plausibleKey = process.env.PLAUSIBLE_KEY;

export default {
  components: { DropDown },
  data() {
    return {
      dropDownItems: {
        "12mo": "12 Months",
        "6mo": "6 months",
        month: "This month",
        "30d": "Last 30 days",
        "7d": "Last 7 days",
        day: "Current Day",
      },
      table: {
        heading: "Page Visits",
        th: ["Pages", "Views", "Unique Visits"],
      },
      analytics: {},
      toggleComponents: false,
    };
  },
  methods: {
    async getAnalytics(period) {
      this.analytics = await aggregateAnalytics(period, plausibleKey);
      this.toggleComponents = true;
    },
    copy() {
      this.$copyText(JSON.stringify(this.analytics, null, 2));
      this.$toast.success("Copied to Clipboard", { duration: 1000 });
    },

    async save() {
      var blob = new Blob([JSON.stringify(this.analytics, null, 2)], {
        type: "text/plain",
      });
      await fileSave(blob, {
        fileName: `analytics.json`,
        extensions: [".json"],
      });
    },
  },
};
</script>

<style></style>

