<template>
  <div class="flex-auto p-10">
    <div class="flex p-10">
      <DropDown
        class="w-1/3 mr-12"
        @HandleChange="getGroupIssuesByLabel"
        :dropDownItems="labels"
      />
      <DropDown
        class="w-1/3 mr-12"
        @HandleChange="getGroupIssuesByMilestone"
        :dropDownItems="milestones"
      />
      <Button text="Clear Filters" @run-script="getGroupIssues" />
    </div>

    <div v-for="issue in issues" :key="issue.id">
      <IssueBoard :issue="issue" />
    </div>
  </div>
</template>

<script>
const Gitlab_API = `https://gitlab.com/api/v4/groups/10617165/`;
const gitlab_token = process.env.GITLAB_PRIVATE_KEY;
export default {
  data() {
    return {
      milestones: {},
      labels: {},
      filter_label: "",
      filter_milestone: "",
      issues: [],
    };
  },
  created() {
    this.getLables();
    this.getMileStones();
    this.getGroupIssues();
  },
  methods: {
    async getGroupIssues() {
      const issues = await this.$axios.get(
        `${Gitlab_API}issues?scope=all&state=opened&order_by=updated_at&per_page=100`
      );

      this.issues = issues.data;
      if (this.issues.length == 0) {
        this.$toast.error("No Result Found", {
          duration: 2000,
        });
      }
    },

    async getGroupIssuesByLabel(label) {
      this.filter_label = label;
      this.filter_label = label;
      const issues = await this.$axios.get(
        `${Gitlab_API}issues?scope=all&state=opened&order_by=updated_at&per_page=100&labels=${label}&milestone=${this.filter_milestone}`
      );

      this.issues = issues.data;
      if (this.issues.length == 0) {
        this.$toast.error("No Result Found", {
          duration: 2000,
        });
      }
    },
    async getGroupIssuesByMilestone(milestone) {
      this.filter_milestone = milestone;
      const issues_milestone = await this.$axios.get(
        `${Gitlab_API}issues?scope=all&state=opened&order_by=updated_at&per_page=100&labels=${this.filter_label}&milestone=${milestone}`
      );

      this.issues = issues_milestone.data;
      if (this.issues.length == 0) {
        this.$toast.error("No Result Found", {
          duration: 2000,
        });
      }
    },
    async getLables() {
      const labels_res = await this.$axios.get(`${Gitlab_API}labels`, {
        headers: {
          "PRIVATE-TOKEN": gitlab_token,
        },
      });
      let labels_obj = {};
      labels_res.data.forEach(function (label) {
        labels_obj[label.name] = label.name;
      });
      this.labels = labels_obj;
    },
    async getMileStones() {
      const milestone_res = await this.$axios.get(
        `${Gitlab_API}milestones?state=active`,
        {
          headers: {
            "PRIVATE-TOKEN": gitlab_token,
          },
        }
      );
      let milestones_obj = {};
      milestone_res.data.forEach(function (milestone) {
        milestones_obj[milestone.title] = milestone.title;
      });
      this.milestones = milestones_obj;
    },
  },
};
</script>
