<template>
  <div class="flex-1 p-10">
    <Button
      class="mb-5"
      @run-script="getSpacingConfig"
      text="Generate Spacing Config"
    />
    <TextArea v-show="toggleTextArea" :data="config" filetype="js" />
  </div>
</template>

<script>
import {
  generateSpacingConfig,
  sortStringByNumericalValue,
} from "../scripts/ui/generate-spacing-config.js";

export default {
  data() {
    return {
      config: "",
      filetype: "js",
      toggleTextArea: false,
    };
  },
  methods: {
    async getSpacingConfig() {
      let spacingConfig = await generateSpacingConfig();
      this.toggleTextArea = true;
      this.config = spacingConfig;
    },
  },
};
</script>

<style></style>
