<template>
  <div class="flex-auto p-10">
    <div class="flex-auto p-10">
      <Button text="Upload Sponsors File" @run-script="getSponsorReport" />
      <Button
        text="Update Repo"
        v-show="toggleUpdateButton"
        @run-script="openUpdateRepoForm"
      />
    </div>
    <UpdateRepoForm v-show="toggleForm" @UpdateRepo="updateRepos" />
    <Stats
      v-show="dataLoaded"
      title="Cumulative Total"
      :stats="sponsorsStats.cumulativeTotal"
    />
    <Stats
      v-show="dataLoaded"
      title="Monthly Total"
      :stats="sponsorsStats.monthlyTotal"
    />

    <Table v-show="dataLoaded" :table="table" :data="sponsors" />
  </div>
</template>

<script>
import { parseSponsorReport } from "../scripts/sponsors/parse-sponsors-report";
import {
  fileOpen,
  fileSave,
} from "../node_modules/browser-fs-access/dist/index.js";

export default {
  data() {
    return {
      sponsors: Array,
      sponsorsStats: Object,
      toggleForm: false,
      toggleUpdateButton: false,
      dataLoaded: false,
      table: {
        heading: "Sponsors",
        th: [
          "#",
          "username",
          "Monthly Amount",
          "Total Amount",
          "start Date",
          "End Date",
        ],
      },
    };
  },

  async created() {
    this.loadSponsorData();
  },

  methods: {
    async loadSponsorData() {
      try {
        const content = await this.$content("sponsors").fetch();
        this.sponsors = content.sponsors;
        const stats = await this.$axios.post("/stats", this.sponsors);
        console.log(typeof stats);
        this.sponsorsStats = stats.data;
        this.dataLoaded = true;
        this.toggleUpdateButton = true;
      } catch (err) {
        this.$toast.error("No Sponsor Data Found!!! Try Uplaoding New One", {
          duration: 2000,
        });
      }
    },
    async getSponsorReport() {
      const blob = await fileOpen({
        mimeTypes: ["application/json"],
        extensions: [".json"],
      });

      const contents = await readFile(blob);
      let content = JSON.parse(contents);

      try {
        const response = await this.$axios.post("/sponsors", content, {
          headers: {
            "Content-Type": "application/json",
          },
        });

        console.log(response);

        const stats = await this.$axios.post("/stats", response.data);
        this.sponsorsStats = stats.data;

        this.$toast.success("Sponsor.js file Added", { duration: 2000 });
        this.sponsors = response.data;
        this.dataLoaded = true;
        this.toggleUpdateButton = true;
      } catch (err) {
        this.$toast.error(err, {
          duration: 5000,
        });
      }
    },
    openUpdateRepoForm() {
      this.toggleForm = true;
    },

    async updateRepos(data) {
      data["datatoUpdate"] = this.sponsors;
      const updateRequest = await this.$axios.put("/repo", data);
      this.toggleForm = false;
    },
  },
};

function readFile(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.onload = (res) => {
      resolve(res.target.result);
    };
    reader.onerror = (err) => reject(err);
    reader.readAsText(file);
  });
}
</script>

<style></style>
